<div class="container">
  <h1>{{ nome }}</h1>
  <form (ngSubmit)="save()">
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="name">Nome</label>
          <input class="form-control" type="text" id="nome" required [(ngModel)]="proposta.nome" name='nome'>
        </div>
        <div class="form-group">
          <label for="valor">Valor</label>
          <input class="form-control" type="text" id="valor" required [(ngModel)]="proposta.valor" name='valor'>
        </div>
        <div class="form-group">
          <label for="inicio">Inicio</label>
          <input class="form-control" type="text" id="inicio" required [(ngModel)]="proposta.inicio" name='inicio'>
        </div>
        <div class="form-group">
          <label for="fim">Fim</label>
          <input class="form-control" type="text" id="fim" required [(ngModel)]="proposta.fim" name='fim'>
        </div>
        <div class="form-group">
          <label for="estado">Estado</label>
          <input class="form-control" type="text" id="estado" required [(ngModel)]="proposta.estado" name='estado'>
        </div>
        <div class="form-group">
          <label for="cidade">Cidade</label>
          <input class="form-control" type="text" id="cidade" required [(ngModel)]="proposta.cidade" name='cidade'>
        </div>
      </div>
      <div class="col-8">
        <div>
            <label for="descricao">Descrição</label>
            <ck-editor required name="editor1" [(ngModel)]="proposta.descricao" id="descricao"  name='descricao' skin="moono-lisa" lang="pt" [fullPage]="true"></ck-editor>
          </div>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
  <hr />
  <a routerLink="/">Back to Propostas</a>
</div>