<!-- <div class="alert alert-info">
  <p align='center'>Displaying {{ propostas.length }} propostas.</p>
</div> -->

<br>
<div class="container">
  <p class="h6">Mostrando {{ propostas.length }} propostas.</p>
  <div class="row">
    <div class="col-10">
      <div class="table" align="right">
          <button type="button" class="btn btn-primary"routerLink="/propostas/new">Nova</button>
      </div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th data-field="nome">Nome</th>
          <th data-field="cidade">Cidade</th>
          <th data-field="inicio">Inicio</th>
          <th data-field="fim">Fim</th>
          <th >#</th>
          <th >#</th>
          <th >#</th>
        </tr>
        </thead>

        <tbody>
          <tr *ngFor="let q of propostas">
            <td>{{ q.nome }}</td>
            <td>{{ q.cidade }}</td>
            <td>{{ q.inicio }}</td>
            <td>{{ q.fim }}</td>
            <td>
                <button class="btn btn-warning" [routerLink]="['/proposta', q.id]">
                  Mostrar
                </button>
              </td>
            <td>
              <button class="btn btn-info" [routerLink]="['/propostas', q.id]">
                Editar
              </button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteProposta(q)">
                Deletar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
