<br>
<div class="container">
    <div class="row">
      <div class="col-10">
        <div class="table" align="right">
            <button type="button" class="btn btn-primary"routerLink="">Voltar</button>
        </div>
        <table class="table table-bordered">
          <tr>
            <th>Nome</th>
            <td>{{proposta.nome}}</td>
          </tr>
          <tr>
            <th>Valor</th>
            <td>{{proposta.valor}}</td>
          </tr>
          <tr>
            <th>Período</th>
            <td>{{proposta.inicio}} a {{proposta.fim}}</td>
          </tr>
          <tr>
            <th>Local</th>
            <td>Cidade: {{proposta.cidade}}  - Estado: {{proposta.estado}}</td>
          </tr>
          <tr>
              <th>Descrição</th>
              <td>{{proposta.descricao}}</td>
            </tr>
        </table>
      </div>
    </div>
  </div>
  

